text {
	fill: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000;
}

body, p, h1, h2, h3, h4, h5 {
	color : #ffffff;
    font-family: Arial, sans-serif;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	overflow-x: hidden;
}

